@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<String>

}

<h1 class="card-header-tabs">All Movies</h1>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>Movies</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (String movie in Model)
            {
                <tr>
                    <th>
                        <a href="Movie/getmovie/@movie">
                            <p>@movie</p>
                        </a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>

